<div class="header"> NYC Locksmith's :) (347)770-0637 </div>

<ul class="nav nav-pills"><li><%=link_to "home", home_index_path%></li> <li><%=link_to "about", home_index_path%></li> <li><%=link_to "our gauruntee", home_index_path%></li> <li><%=link_to "contact us", home_index_path%></li> </ul>